<div class="container">
	<div class="row">
			<div class="form-wrapper">
				<div class="form-header">
					<h3 class="text-center"><%= @room.item.title %> についての相談</h3>
					<p class="text-center">案件に対しての質問や、条件の交渉にお使いください。</p>
				</div>

				<div class="message">
					<% @messages.each do |msg| %>
						<div class="icon-left">
							<%#= attachment_image_tag msg.sender_id.user, :image, fallback: "no_image.jpg" %>
							<div class="message_name">
								<%#= msg.sender_id.name %>
							</div>
						</div>
						<div class="balloon">
	     					<div class="serif-left">
								<p>
									<%= msg.content %>
								</p>
							</div>
						</div>
					<% end %><!--each-->
				</div>

			<!-- message投稿フォーム -->
				<%= form_with model: @message, data: {remote: true} do |f| %>
					<%= f.text_field :content, id: "text_field", class: "form-controll message_input" %>
					<%= f.hidden_field :room_id, value: @room.id %>
					<div class="message_actions">
						<%= f.submit "送信", class: "message_button" %>
					</div>
				<% end %>


				<div class="form-footer">
				</div>
			</div>
	</div><!--row-->
</div><!--container-->