<div class="container">
	<div class="row">
		<div class="col-xs-offset2 col-xs-8">
			<h3><%= @room.item.title %> についての相談</h3>

			<% @messages.each do |msg| %>
				<% if msg.user == current_user %>
					<p style="text-align: right;"><%= msg.content %></p>
				<% else %>
					<p style="text-align: left;"><%= msg.content %></p>

				<% end %>
			<% end %><!--each-->

			<!-- message投稿フォーム -->

			<%= form_for @message, remote: true do |f| %>
				<div class="col-xs-offset2 col-xs-8">
					<%= f.text_field :content, id: "text_field", class: "form-controll", id: "text_field" %>
					<%= f.hidden_field :room_id, value: @room.id %>
					<%= f.hidden_field :receiver_id, value: @room.item.user.id %>
					<%= f.submit "送信" %>
				</div>
			<% end %>


		</div><!--col-->
	</div><!--row-->
</div><!--container-->