<div class="form-wrapper">
  <h1>新規登録</h1>
  <form>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :名前 %><br />
        <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "field_input" %>
      </div>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "field_input" %>
      </div>

      <div class="field">
<<<<<<< HEAD
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password", class: "field_input" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "field_input" %>
      </div>

            <div class="field">
        <%= f.radio_button :sex, :true, checked: :true %>
=======
        <%= f.radio_button :sex, :男性, checked: :true %>
>>>>>>> 984ab466b44e14dc9ee10e51264d8f633db70d52
        <%= f.label :sex, "男性", {value: :true, style: "display: inline-block;"} %>
        <%= f.radio_button :sex, :女性 %>
        <%= f.label :sex, "女性", {value: :false, style: "display: inline-block;"} %>
      </div>

      <div class="field">
        <%= f.radio_button :type, :Teacher, checked: :true %>
        <%= f.label :type, "先生として登録", {value: :Teacher, style: "display: inline-block;"} %>
        <%= f.radio_button :type, :Student %>
        <%= f.label :type, "生徒として登録", {value: :Student, style: "display: inline-block;"} %>
      </div>

      <div class="actions">
        <%= f.submit "Sign up", class:"button" %>
      </div>
    <% end %>
  </form>

  <div class="form-footer">
    <%= render "devise/shared/links" %>
  </div>
</div>