<div class='contents'>
	<div class='card u-clearfix'>
		<div class='card-media'>
			<div class='card-media-img'>
				<%= attachment_image_tag item.user, :image, size:'100x135', fallback: 'no_image.jpg' %>
			</div>
				<%= link_to user_path(item.user.id) do %>
					<div class='card-media-preview u-flex-center'><i class='fas fa-user'></i></div>
				<% end %>
			<span class='card-media-tag card-media-tag-orange'><%= item.user.name %></span>

			<%= link_to reviews_user_path(item.user.id) do %>
				<div class='user-star'>
					<span class="star-rate-<%= item.user.id %>"></span>
					<span>(<%= Contract.contract_reviews(item.user.id).count %>)</span>
				</div>
			<% end %>
		</div><!--card-media-->

		<div class='card-body'>
			<h2 class='card-body-heading'><%= item.title %></h2>
			<div class='card-body-option card-body-option-share'>
				<span class= 'badge badge-primary'>
				<%= item.is_continue == 'continue' ? '継続案件' : '単発案件' %></span><!--単発継続-->
				<span class= 'badge badge-primary'><%= item.user.present? ? item.user.sex : '退会済みユーザー' %></span>
			</div>
			<div class='card-body-stars u-clearfix'>
				<%= item.body.truncate(100) %>
			</div>

			<% if contract.contractor_status == 'fulfillment' || contract.contractee_status == 'fulfillment' %>
				<%= link_to '契約が内容が終了したときはこちら', contract_path(contract.id), class: 'card-button card-button-cta' %>
				<%= link_to contract_path(contract.id), class: 'card-button card-button-link' do %>
					<span class='card-button-icon'>More info</span>
				<% end %>
			<% end %>
		</div><!--cardbody-->
	</div><!--u-clearfix-->
</div>

<!-- ☆平均　script -->
<%= render 'reviews/review_average', user: item.user, review_average: Contract.contract_average_rate(item.user.id) %>