<div class='container'>
	<div class='row'>
		<div class='col-xs-offset-1 col-xs-10'>
			<h3 class="text-center">契約詳細ページ</h3>
			<div class='form-wrapper'>
				<div class='form-header'>
					<p class='field_title'>契約内容が終了したら、下部のボタンを押してください。</p>
					<p class='field_title'>両者の契約内容終了を以って、契約の満了となります。</p>
				</div>

				<div class='form'>
					<%= render 'contracts/contract_content', item: @contract.item %>

					<div class='field'>
						<p class='field_title'>申請者名</p>
						<% if @contract.contractor.present? %>
							<p class='field_show'><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span><%= link_to "#{@contract.contractor.name}", user_path(@contract.contractor.id) %> さん</p>
						<% else %>
							<p class='field_show'>退会済みユーザー</p>
						<% end %>
					</div>

					<% if current_user.id == @contract.contractor_id %> <!--ログインしているのが契約申請者だった時-->
						<% if @contract.contractor_status == 'contract_finish' %>
							<p>すでに終了ボタンは押されています。相手のリアクションをお待ちください。</p>
							<div class="text-center">
								<%= link_to 'マイページへ', user_path(current_user.id), class: 'btn btn-default' %>
							</div>
						<% else %>
								<!-- 評価 -->
							<%= form_for @contract do |f| %>
								<%= f.fields_for :reviews do |review| %>
									<div class="field">
										<%= render 'layouts/error_messages', model: f.object %>
										<!--☆評価-->
										<div id="star">
											<%= review.label :rate,'評価 ', class:'field_title' %>
											<%= review.hidden_field :rate, id: :review_star %>
										</div>

										<!-- 評価javascript -->
										<script>
										$('#star').raty({
										size     : 36,
										starOff:  '<%= asset_path('star-off.png') %>',
										starOn : '<%= asset_path('star-on.png') %>',
										starHalf: '<%= asset_path('star-half.png') %>',
										scoreName: 'review[rate]',
										half: true,
										});
										</script>
		    						</div><!--評価field-->
									<div class="field">
										<!--コメント-->
										<div>
	    									<%= review.label :comment, 'コメント ', class:'field_title' %>
	    									<br />
	    									<%= review.text_area :comment, class: 'form-control', rows: '3', name: 'review[comment]', placeholder:'良かった点や気になった点があればお書きください' %>
	    								</div>
	    							</div>
									<div class='actions'>
										<%= f.submit '契約内容を終了しました', 'data-confirm' => '本当に契約を終了しますか？', class: 'button' %>
									</div>
    							<% end %><!--review-->
    						<% end %><!--@contract-->
						<% end %><!--status.finish?-->

					<% else %>  <!--ログインしているのが請負者だった場合-->
						<% if @contract.contractee_status == 'contract_finish' %>
							<p>すでに終了ボタンは押されています。相手のリアクションをお待ちください。</p>
							<div class="text-center">
								<%= link_to 'マイページへ', user_path(current_user.id), class: 'btn btn-default' %>
							</div>
						<% else %>
									<!-- 評価 -->
							<%= form_for @contract do |f| %>
								<%= f.fields_for :reviews do |review| %>
									<div class="field">
										<%= render 'layouts/error_messages', model: f.object %>
										<!--☆評価-->
										<div id="star">
											<%= review.label :rate,'評価 ', class:'field_title' %>
											<%= review.hidden_field :rate, id: :review_star %>
										</div>

										<!-- 評価javascript -->
										<script>
										$('#star').raty({
										size     : 36,
										starOff:  '<%= asset_path('star-off.png') %>',
										starOn : '<%= asset_path('star-on.png') %>',
										starHalf: '<%= asset_path('star-half.png') %>',
										scoreName: 'review[rate]',
										half: true,
										});
										</script>
		    						</div><!--評価field-->
									<div class="field">
										<!--コメント-->
										<div>
											<%= review.label :comment, 'コメント ', class:'field_title' %>
											<br />
											<%= review.text_area :comment, class: 'form-control', rows: '3', name: 'review[comment]', placeholder:'良かった点や気になった点があればお書きください' %>
										</div>
									</div>
									<div class='actions'>
										<%= f.submit '契約内容を終了しました', 'data-confirm' => '本当に契約を終了しますか？', class: 'button' %>
									</div>
								<% end %><!--review-->
							<% end %><!--@contract-->
						<% end %><!--contractee-finish?-->
					<% end %><!--contractor?-->

					<div class='form-footer'>
					</div>

				</div><!--form-->
			</div><!--wrapper-->
		</div><!--col-->
	</div><!--row-->
</div><!--container-->