<div class='container'>
	<div class='row'>
		<div class='col-xs-offset-1 col-xs-10'>
			<h3 class='text-center'>プロフィール編集</h3>
			<div class='user-edit'>
				<%= form_for(@user, url: user_path ) do |f| %>

					<%= render 'layouts/error_messages', model: f.object %>
					
					<div class='col-sm-5 text-center'>
						<%= attachment_image_tag @user, :image, size:'200x200', class: 'img-circle profile-thumb', fallback: 'no_image.jpg', id: 'img_prev' %>
						<%= f.attachment_field :image, id: :user_img %>
						<!--imgのプレビューscript-->
						<script type="text/javascript">
							$(function() {
							 function readURL(input) {
							   if (input.files && input.files[0]) {
							     var reader = new FileReader();
							     reader.onload = function (e) {
							       $('#img_prev').attr('src', e.target.result);
							     }
							     reader.readAsDataURL(input.files[0]);
							   }
							 }
							 $("#user_img").change(function(){
							   readURL(this);
							 });
							});
						</script>
					</div>

					<div class='form-horizontal col-sm-offset-1 col-sm-6'>
						<div class='form-group'>
							<%= f.label :name, '名前', class: 'col-sm-4 edit-name' %>
							<div class='col-sm-8'>
								<%= f.text_field :name, autofocus: true, class: 'form-control' %>
							</div>
						</div>

						<div class='form-group'>
							<%= f.label :email, 'e-mail', class: 'col-sm-4' %>
							<div class='col-sm-8'>
								<%= f.text_field :email, autofocus: true, class: 'form-control' %>
							</div>
						</div>

						<div class='form-group'>
							<%= f.label :introduction, '自己紹介', class: 'col-sm-4' %>
							<div class='col-sm-8'>
								<%= f.text_area :introduction, autofocus: true, class: 'form-control' %>
							</div>
						</div>
						<div class='actions'>
						<%= f.submit '変更を保存', class: 'button' %>
						</div>
					</div>
				<% end %>

			</div>
		</div><!--col-->
	</div><!--row-->
</div><!--container-->