<div class='container'>
	<div class='row'>
		<div class='col-xs-offset-1 col-xs-10'>

			<h3 class='text-center'>ダッシュボード</h3>
			<div class='notice-field'>
				
				<h4>申請案件</h4>
				<% if @contractor_contracts.count > 0 %>
					<table class=' table table-hover'>
						<tbody> <!--申請したほう-->
							<% @contractor_contracts.zip(@messages) do |contractor_contract, message| %>
								<tr>
									<td><%= contractor_contract.item.title %></td>
									<td><%= message %></td>
									<% if contractor_contract.contractee_status == 'fulfillment' || contractor_contract.contractee_status == 'contract_finish' %>
										<td><%= link_to '契約詳細へ', contract_path(contractor_contract.id), class: 'card-button card-button-cta'%></td>
									<% end %>
								</tr>
							<% end %>
						</tbody>
					</table>
				<% else %>
					<p>現在申請している案件はありません。</p>
					<p>案件一覧から、要望に合った案件をお探しください。</p>
				<% end %>
	
				<h4>提案案件</h4>
				<% if @contractee_contracts.count > 0 %>
				<table class='table table-hover'><!--提案者-->
					<tbody>
						<% @contractee_contracts.zip(@contractee_messages) do |contractee_contract, contractee_message| %>
						<tr>
							<td><%= contractee_contract.item.title %></td>
							<td><%= contractee_message %></td>
							<% if contractee_contract.contractor_status == 'spplying' %>
								<td><%= link_to '契約 or キャンセル', confirm_contract_path(contractee_contract.id), class: 'card-button card-button-dta' %></td>
							<% elsif contractee_contract.contractor_status == 'fulfillment' || contractee_contract.contractor_status == 'contract_finish' %>
								<td><%= link_to '契約詳細へ', contract_path(contractee_contract.id), class: 'card-button card-button-cta' %></td>
							<% end %>
						</tr>
						<% end %>
					</tbody>
				</table>
				<% else %>
					<p>現在受けている案件はありません。</p>
					<p>案件作成から自分に合った案件を作成しましょう。</p>
				<% end %>
			</div>
		</div>
	</div>
</div>