<div class="container">
	<div class="row">
		<div class="col-xs-offset-1 col-xs-10">
			<%= render 'layouts/notifications' %>
			<% if @user === current_user %>
				<h3 class="text-center">あなたのページ</h3>
			<% else %>
				<h3 class="text-center"><%= @user.name %>さんのページ</h3>
			<% end %>

			<div class="flip">
  				<div class="card">
    				<div class="face front">
      					<div class="details">
        					<div><%= @user.name %></div>
        					<hr>

        					<% if @user == current_user %>
        						<div class="role"><%= link_to "契約中の案件", contracts_path %>
        						</div>
        						<div class="contact"><%= link_to "気になる案件（#{current_user.favorites.count}）", favorites_items_path %>
        						</div>
        						<div class="contact"><%= link_to "自分の案件（#{current_user.items.count}）", items_user_path(current_user.id) %>
        						</div>
	        					<div class="contact"><%= link_to "プロフィール編集", edit_user_path(current_user.id)%>
	        					</div>

	        				<% else %><!--他人が見たマイページ-->
        						<div class="role"><%= @user.sex %>
        						</div>
        						<div class="contact"><%= link_to "#{@user.name}さんの案件一覧（#{@user.items.count}）", items_user_path(@user.id) %>
        						</div>
	        					<div class="contact">
	        					</div>

	        				<% end %>

	        			</div><!--deteal-->

        				<div class="avatar">
        					<%= attachment_image_tag @user, :image, fallback:"no_image.jpg" %>
        				</div>
	        		</div><!--front-->

	        		<div class="face back">
	        			<div class="introduction">
	        				<h3 class="introduction-text">自己紹介</h3>
	        				<%= simple_format(@user.introduction) %>
	        			</div>
	        		</div><!--back-->
	        	</div><!--card-->
	        </div><!--flip-->

	        <div class="actions turn">
	        	<p class="button text-change">自己紹介文へ</p>
			</div>

			<% if @user == current_user || user_signed_in? %>
		        <div class="col-xs-offset-10 col-xs-2">
					<%= link_to "退会はこちらから", bye_confirm_user_path(current_user.id), class: "btn btn-default" %>
				</div>
			<% end %>
		</div>
	</div>
</div>

<script>
	$('.turn').click(function(){
		if($('.flip').find('.card').hasClass('flipped')){
			$('.flip').find('.card').removeClass('flipped');
			$('.text-change').html('自己紹介文へ');
		}else{
			$('.flip').find('.card').addClass('flipped');
			$('.text-change').html('詳細へ');
		}
	});
</script>