	<!-- 評価 -->

	<%= form_with(url: contract_path(contract.id), local:true, method: :patch) do |f| %>
		<%= f.fields_for :reviews do |review| %>
			<div class="field">
				<!--☆評価-->
				<div id="star">
					<%= review.label :rate,'評価 ', class:'field_title' %>
					<%= review.hidden_field :rate, id: :review_star %>
				</div>

				<!-- 評価javascript -->
				<script>
				$(document).on('turbolinks:load', function(){
					$('#star').raty({
					size     : 36,
					starOff:  '<%= asset_path('star-off.png') %>',
					starOn : '<%= asset_path('star-on.png') %>',
					starHalf: '<%= asset_path('star-half.png') %>',
					scoreName: 'review[rate]',
					half: true,
					});
				})
				</script>
			</div><!--評価field-->
			<div class="field">
				<!--コメント-->
				<div>
					<%= review.label :comment, 'コメント ', class:'field_title' %>
					<br />
					<%= review.text_area :comment, class: 'form-control', rows: '3', name: 'review[comment]', placeholder:'良かった点や気になった点があればお書きください' %>
				</div>
			</div>
			<div class='actions'>
				<%= f.submit '契約内容を終了しました', 'data-confirm' => '本当に契約を終了しますか？', class: 'button' %>
			</div>
		<% end %><!--review-->
	<% end %><!--@contract-->
